<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Upload</h1>
        <hr>
        <form method="post" enctype="multipart/form-data" action="nexthalaman">
            Nama : <input type="test" name="varA" required=""/>
            <br>
            <br>
            Tanggal Lahir : <input type="date" name="varB" required=""/>
            <br>
            <br>
            Photo : <input type="file" name="foto" accept="image/png, image/jpeg" required="" />
            <br>
            <br>
            <input type="submit" value="Save">
        </form>
    </body>
</html>
